---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <p class="text-center text-xl !text-red-500 font-bold lg:text-2xl">
    I'm a full stack developer at <a href="https://www.labelinteractive.com/">Label Interactive</a> primarily working on
    e-commerce services for a large New England retail chain, processing 500,000+ monthly orders. I'm also a published composer,
    an active contractor for original cinematic music, and a research assistant at The Penn State University School of Music.
  </p>
</Layout>
