---
import Layout from '@/layouts/main.astro';
---

<Layout>
  <p class="text-center text-xl font-bold !text-red-500 lg:text-2xl">
    I'm a software engineer at <a href="https://www.labelinteractive.com/">Label Interactive</a> primarily working on e-commerce
    services for a large New England retail chain. I'm also a published composer.
  </p>
</Layout>
