@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color: #1c1e21;
}

a {
  color: #2fb8d3;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

h1 {
  @apply my-4 text-5xl;
}

h2 {
  @apply mt-4 mb-2 text-3xl;
}

p {
  @apply my-2;
}
